.nav {
  background-color: #545871;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 300px; */
}

.nav__menu-container {
  background-color: red;
  text-align: center;
  width: 50%;
  min-height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* vertical-align: center; */
}

.nav__main-menu {
  text-align: left;
}

.nav__main-menu--active {
  color: #fff;
}

.nav__main-menu--inactive {
  color: #dadbe7;
}
