.page-container {
  display: flex;
  /* flex allows the 'nav' and 'form' areas to lay side-by-side, 4:6 ratio */
  width: 100vw;
  height: 90vh;
  min-height: 600px;
  min-width: 680px;
  /* margin: 0; */
}
